<template>
  <div id="app">
    
    <Header style="position:fixed"></Header>  
    <div style="width:100%;height:90px"></div>
    <router-view></router-view>
     <div id="container_footer">
    <Footer>
    </Footer>
     </div>
  </div>
</template>
<script>
import Header from "@/components/Header"
import Footer from "@/components/Footer.vue"
import {mapState,mapActions} from "vuex"
export default {
   mounted() {
   this.getWidth();
  },
   methods: {
    ...mapActions(['getScreenWidth']),
  
    getWidth:function(){
      let that=this;
      window.addEventListener("resize",function(){
       that.getScreenWidth(window.innerWidth);
   })
    },
  },
    computed:{
      ...mapState(['screenWidth']),
    },
  components:{
    Header,
    Footer
  }
}
</script>
<style lang="scss">
 #container_footer{
      width:100%;
      min-width:650px;
    }
</style>
