<template>
    <div id="aboutMe" >
        <div id="MeInfo">
            <transition name="slidein">
                <div  v-show="show" id="Perpic">
                    <img  src="@/img/me.jpg" width="300">
                </div>
             </transition>
             <transition name="slideotherin">
                 <div id="InfoText" v-show="show>=1">
                    <p>
                        　　{{space}}我是張皓程，住在新北市板橋區，有一個弟弟，是家中的長子。父母經營早餐店，弟弟是遊戲工程師，近期也與我交流資訊科技的相關學術。我的個性樂觀熱血，與人相處隨和且樂於助人，人緣還算不錯。跟他人合作時嚴以律已，寬以待人，有我在的時候任務通常都能順利完成。不太容易因失敗灰心，面對挑戰有著不錯的抗壓力。<br/>
                       　　 {{space}}大學就讀台北教育大學數位科技設計學系，大學初期主修設計為主，有著業界水平的繪畫能力，曾參加CyberLink的貼圖比賽入選佳作、與台北電腦公會和作設計展覽等。專精插畫、平面設計，在pixiv之類繪圖平台也累積了不錯的人氣。<br>
                        　　{{space}}大三下學期在老師及朋友的鼓勵下轉攻資訊資工的課程，延畢兩年，在資料結構、演算法與數學的課程上有不錯的收獲，並學會了C/C++基礎編程。大學後期自學了HTML、CSS及Javasript、RWD網頁設計，jQuery、vue.js、bootstrape。於2020年2月畢業。<br/>
                       　 　{{space}}過去曾在雲跡科技任職前端工程師，與同事相處融洽、工作部份雖然沒有碰到什麼大困難，但也學習了不少新知。任職期間做過上線網站的緊急維護、處理版型bug、並開發多銀行卡功能、多國語言功能等，有獲得中國方主管的讚賞。後來因為公司業務調度離職。在職半年。<br>
                        　　{{space}}由於很喜歡架設實體網站，希望自己能再次投入相關領域。若有榮幸加入團隊，不管遇到什麼困難，我將會保持樂觀積極的工作態度，與團隊成員共同努力，並把握每一次學習成長的機會，對團隊及公司有所貢獻。

                    </p>
                </div>
             </transition>
             
        </div>
         <transition name="slidein">
        <hr v-show="show>=1">
         </transition>
        <div id="myHobit">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    props:["show"],
    data(){
        return{
            space:'　　'
        }
    }
}
</script>
<style>
#aboutMe{
    height: 480px;
    min-width: 1215px;
    width: 1215px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#Perpic{
    min-width:280px;
    overflow: hidden;
    height:300px ;
    border:1px lightgray solid;
    position: relative;
    /* top:50%; */
    /* transform: translateY(-50%); */
    
}
#MeInfo{
    width: 100%;
    display:flex;
}

#InfoText{
    width: 900px;
    margin-bottom: 30px;;
    margin-left: 30px;;

}
/**vue transition */
.slidein-enter-active{
  transition:1s all;
}
.slidein-enter{
  opacity:0;
  transform: translateY(-50px);
}

.slideotherin-enter-active{
  transition:1s all;
}
.slideotherin-enter{
  opacity:0;
  transform: translateX(100px);
}
</style>