<template>
    <div class="about_2">
              <ul id="carousel" style="left:0;" @mouseover="puase" @mouseleave="start">
                <transition name="pic1" mode="in-out"><li v-show="active.one"><img src='@/img/夜雨綻放的油桐花 封面.png' width="731" style="margin-top:-120px"></li></transition>
                <transition name="pic1" mode="in-out"><li v-show="active.two"><img src='@/img/創.jpg' width="731" height="448"></li></transition>
                <transition name="pic1" mode="in-out"><li v-show="active.three"><img src='@/img/celavi.jpg' width="731"></li></transition>
                <transition name="pic1" mode="in-out"><li v-show="active.four"><img src='@/img/gura.jpg' width="800"></li></transition>
              </ul>
              <div id="pageBar">
                  <div class="carouselBtn" :class="active.one" @click="changePage(0)"></div>
                  <div class="carouselBtn" :class="active.two" @click="changePage(1)"></div>
                  <div class="carouselBtn" :class="active.three" @click="changePage(2)"></div>
                  <div class="carouselBtn" :class="active.four" @click="changePage(3)"></div>
              </div>
              <div id="arrowSet">
                <div id="arrowForward" class="arrow" @click="changePage(carouselCSS-1)"></div>
                <div id="arrowBack" class="arrow" @click="changePage(carouselCSS+1)"></div>
              </div>
              
    </div>
</template>
<script>
export default {
  mounted(){
  
    
    this.lunbo();
    // console.log($("#carousel")[0].attributes.style.value);
    
  },
  
  data(){
    return{
      carouselCSS:0,
      timer:'',
      carouselLeft:0,
      active:{
        one:'carouselActive',
        two:'',
        three:'',
        four:'',
      }
    }
  },
 
  methods:{
    lunbo:function(){
      this.timer=setTimeout(()=>{
        this.carouselCSS=(this.carouselCSS+1)%4;
        clearTimeout(this.timer)
        },4000);
    },
    changePage:function(point){
       clearTimeout(this.timer)
       if(point<0){
         point=3;
       }
       if(point>3){point=0}
      this.carouselCSS=point;
    },
    puase(){
        clearTimeout(this.timer)
    },
    start(){
      this.lunbo();
    }
  },
  beforeDestroy(){
    clearTimeout(this.timer);
  },

  watch:{
    carouselCSS:{
      handler(){  
       this.active.one="";
       this.active.two="";
       this.active.three="";
       this.active.four="";
        switch (this.carouselCSS) {
          case 0:
            this.active.one="carouselActive"
            break;
          case 1:
            this.active.two="carouselActive"
            break;
          case 2:
            this.active.three="carouselActive"
            break;
          case 3:
            this.active.four="carouselActive"
            break;
        } 
        this.lunbo();
      },
      deep:true,
     
    }
    
  }
}
</script>

<style scoped>

.about_2{
   min-width:730px;
   height:100%;
   border-top:1px lightgray solid;
   border-right:1px lightgray solid;
   border-bottom:1px lightgray solid;
    overflow: hidden;
  
}
#carousel{
  height:448px;
  position:relative;
  display: flex;
}
#carousel li{
  width:731px;
  height:448px;
  position: absolute;
}
#pageBar{
  position: relative;
  top: -45px;
  text-align: center;
  display: inline-flex;
  left: 50%;
  transform: translateX(-50%);
}
.carouselBtn{
  width:70px;
  height: 10px;
  background: white;
  margin: 0 2px;
  padding:2px;
  border-radius: 10px;
  opacity: 0.6;
  cursor: pointer;
}

.carouselActive{
  animation:startActive 0.5s;
  animation-fill-mode: forwards;
}
#arrowSet{
  display: flex;
  width:100%;
  position: relative;
  top: -67%;
  transform: translateY(-50%);
}
.arrow{
  opacity: 0.8;
  width:30px;
  height:70px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
#arrowForward{
  position: absolute;
  left: 5px;
}
#arrowBack{
  position: absolute;
  right:5px;
}
@keyframes startActive {
  0%{opacity: 0.6;}
  100%{opacity: 1;}
}
/*VUE ANIMATION */
.show-enter-active{
  transition:1s all;
}
.show-enter{
  opacity:0;
  transform: translateY(-50px);
}

.pic1-enter-active ,.pic1-leave-active{
  transition:.5s all
}
.pic1-enter{
  transform: translateX(100%);
}
.pic1-leave-to{
  transform: translateX(-100%);
}
</style>
