<template>
    <div>
        <div>
            <b-nav tabs>
                <b-nav-item  to="/" :active="$route.name=='Home'">首頁</b-nav-item>
                <b-nav-item  to="/about" :active="$route.name=='About'">關於</b-nav-item>
                <b-nav-item  to="/TeamWork" :active="$route.name=='TeamWork'">團隊作品</b-nav-item>
                <b-nav-item  to="/Cooperate" :active="$route.name=='Cooperate'">合作資訊</b-nav-item>
                <b-nav-item  to="/Announcement" :active="$route.name=='Announcement'">公告</b-nav-item>
            </b-nav>
        </div>
    </div>
</template>
