<template>
  <div class="about">
    
    <Loading v-if="isLoading"></Loading>
    <transition name="show">
       <div v-show="!isLoading" id="container">
      <div id="aboutWTB">
        <h3 style="text-align:center">關於什麼鳥娛樂工作室</h3>
        <br>
        <div id="aboutInfo">
            <div class="about_1">
              <pre style="margin-left:2rem">    
    這裡是什麼鳥娛樂工作室，歡迎參觀我們
的形像網站。
    我們是一群喜歡遊戲、藝術、動漫與音樂
的創作者，並希望能在之後能創作出大家喜愛
的作品，給大眾帶來歡樂的生活與正向的力量
。
    什麼鳥目前還只是個企劃，未來預計將有
獨立遊戲、原創音樂原聲帶、美術畫冊、網站
設計等商品，並且會不定時在Youtube、Twit
ch等平台直播遊戲、繪圖、製曲、旅遊等實況
，目的在製作多元、多樣的節目內容，還請大
家敬請期待。
              </pre>
            </div>
            <Carousel></Carousel>
        </div>
        <hr>
      </div>
      
    <h3 style="text-align:center">關於站長</h3>
      <AboutMe :show="showAboutMe"></AboutMe>
    </div>
    </transition>
   
  </div>
</template>


<script>

import Loading from '@/components/Loading.vue'
import {mapState,mapActions} from "vuex"
import Carousel from "@/components/AboutItem/Carousel.vue"
import AboutMe from "@/components/AboutItem/AboutMe.vue"
import $ from 'jquery'
export default {
  mounted(){
    let that =this
    this.changeIsLoading();     
    $(window).scroll(function () {
    that.scrollPos = $(this).scrollTop();
});
  },
  
  data(){
    return{
      scrollPos:'',
      showAboutMe:false,
    }
  },
  computed:{
    ...mapState(['isLoading'])
  },
  methods:{
    ...mapActions(['changeIsLoading']),
    changePic:function(){ 
        // this.carouselLeft-=731;                              //此邊程式的缺點：使用了jquery讓程式生命週期很亂。
        //  $("#carousel").animate({            //試著只使用vue做出輪播的效果
        //  left:this.carouselLeft+"px",
        // },500);  
    },
    
  },
  watch:{
    scrollPos:{
      handler(){
        if(this.scrollPos>=100){
          this.showAboutMe=1
        }
      }
    }
  },
  components:{
    Loading,
    Carousel,
    AboutMe
  },
  beforeDestroy(){
    clearTimeout(this.timer);
  },
}
</script>

<style scoped>
.about{
   
   padding-top:30px;
}
#container{
  
  width:80%;
  margin:0 auto;
}
#aboutWTB{
  width:80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1215px;

}
#aboutInfo{
display:flex;
  width:100%;
 height: 450px;
  
}
.about_1{
  min-width:485px;
  height:100%;
  border:1px lightgray solid;
  font-size: 24px;
}

@keyframes startActive {
  0%{opacity: 0.6;}
  100%{opacity: 1;}
}
/*VUE ANIMATION */
.show-enter-active{
  transition:1s all;
}
.show-enter{
  opacity:0;
  transform: translateY(-50px);
}
</style>
