<template>
<div >
    <Loading v-if='isLoading==true'></Loading>
    <transition name="show">
    <div id="carousel" v-if="!isLoading">
      <ul id="carousel-item">
        <li id="c1" class="c-i" style="top:-125px"><img src="@/img/lycoris3.png" width="1080"></li>
        <li id="c2" class="c-i" style="top:-205px"><img src="@/img/黑神官.png" width="1080"></li>
        <li id="c3" class="c-i"><img src="@/img/杜美心.png" width="1080"></li>
        <li id="c4" class="c-i" style="top:-55px"><img src="@/img/胡蝶忍.png" width="1080"></li>
        <li id="c5" class="c-i" style="top:-175px"><img src="@/img/夜雨綻放的油桐花 封面.png" width="1080"></li>
        <li id="c1" class="c-i" style="top:-125px"><img src="@/img/lycoris3.png" width="1080"></li>
        <li id="c2" class="c-i" style="top:-205px"><img src="@/img/黑神官.png" width="1080"></li>
      </ul>
    </div>
    </transition>
    
</div>
</template>

<script>
import { mapState,mapActions } from 'vuex';
import Loading from '@/components/Loading'


export default {
  name: 'Home',
  created(){
    document.title="什麼鳥娛樂工作室";
  },
  mounted(){
    this.changeIsLoading();
  },
  computed:{
    ...mapState(['isLoading'])
  },
  methods:{
    ...mapActions(['changeIsLoading'])
  },
  components:{
    Loading
  
  },
 
}
</script>

<style lang="scss" scoped>

 @import url("../assets/reset.css");
 @font-face {
  font-family: whacom;
  src:url("../assets/DFPOP1-W5-WIN-BF-01.ttf"),
  
}
  @keyframes carousel {
    0%{
      left:0px;
    }
    100%{
      left:-5400px;
    }
  }

  ul{
      list-style-type:none
    }
    #carousel-item{
      display:flex;
      overflow: hidden;
      margin:0px;
      height:100%;
    }
    #carousel{
      height:706px;
      overflow: hidden;
    }
   
    .c-i{
      position: relative;
      animation-name:carousel;
      animation-duration: 60s;
      animation-timing-function:linear;
      animation-iteration-count:infinite;
    }
 
   .show-enter-active{
  transition:1s all;
}
.show-enter{
  opacity:0;
}
</style>