<template>
  <div class="about">
    <loading v-if="isLoading"></loading>
    <div v-else><router-link to="/">郵件</router-link></div>
  </div>
</template>
<script>
import Loading from '@/components/Loading.vue'
import {mapActions,mapState} from 'vuex'
export default {
  mounted(){
    this.changeIsLoading();
  },
  computed:{
    ...mapState(['isLoading'])
  },
  methods:{
    ...mapActions(['changeIsLoading'])
  },
  components:{
    Loading

  }
}
</script>

