<template>
  <div class="about">
     <Loading v-if="isLoading"></Loading>
    <div v-else><router-link to="/">團隊作品</router-link></div>
  </div>
</template>
<script>
import Loading from '@/components/Loading.vue'
import {mapActions,mapState} from 'vuex'
export default {
  mounted(){
    this.changeIsLoading();
  },
  computed:{
    ...mapState(['isLoading'])
  },
  methods:{
    ...mapActions(['changeIsLoading'])
  },
  components:{
    Loading
  }
}
</script>
