<template>
  <div>
    <b-button v-b-toggle.sidebar-right variant="outline-primary" style="font-size:23px;padding: 3px 14px 5px 12px;">≡</b-button>
    <b-sidebar id="sidebar-right"  right shadow style="opacity:0.9">
      <div class="px-3 py-2">
        <ul id="sideList">
          <router-link to="/" v-if="screenWidth<1150"><li :class="Home">首頁</li></router-link>
          <router-link to="/about" v-if="screenWidth<1150"><li :class="About">關於</li></router-link>
          <router-link to="/TeamWork" v-if="screenWidth<1150"><li :class="TeamWork">團隊作品</li></router-link>
          <router-link to="/Cooperate" v-if="screenWidth<1150"><li :class="Cooperate">合作資訊</li></router-link>
          <router-link to="/Announcement" v-if="screenWidth<1150"><li :class="Announcement">公告</li></router-link>
          <router-link to="/Mail"><li :class="Mail">聯絡我們</li></router-link>
          <router-link to="/Cart"><li :class="Cart">購物車</li></router-link>
        </ul>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  mounted(){
    console.log(this.$route.name)
    switch (this.$route.name) {
            case 'Home':
              this.Home='active'
              break;
            case 'About':
              this.About='active'
              break;
               case 'TeamWork':
              this.TeamWork='active'
              break;
               case 'Cooperate':
              this.Cooperate='active'
              break;
               case 'Announcement':
              this.Announcement='active'
              break;
               case 'Mail':
              this.Mail='active'
              break;
               case 'Cart':
              this.Cart='active'
              break;
          }
  },
  data(){
    return{
      Home:'',
      About:'',
      TeamWork:'',
      Cooperate:'',
      Announcement:'',
      Mail:'',
      Cart:''
    }
  },

  computed:{
    ...mapState(['screenWidth'])
  },
  watch: {
    $route(to,from){
          this.Home=''
          this.About='';
          this.TeamWork='';
          this.Cooperate='';
          this.Announcement='';
          this.Mail='';
          this.Cart=''; 

         
          switch (to.name) {
            case 'Home':
              this.Home='active'
              break;
            case 'About':
              this.About='active'
              break;
               case 'TeamWork':
              this.TeamWork='active'
              break;
               case 'Cooperate':
              this.Cooperate='active'
              break;
               case 'Announcement':
              this.Announcement='active'
              break;
               case 'Mail':
              this.Mail='active'
              break;
               case 'Cart':
              this.Cart='active'
              break;
          }
   },
  }
}
</script>

<style scoped>

#sideList li{
  border-bottom:1px solid rgb(209, 209, 209);
  padding:10px;
  
}
#sideList li:hover{
  color:white;
  background-color:lightgray ;
 
  
}
a{
   text-decoration: none  !important;
   color:black
}

.active{
  color:white;
  background-color:lightgray 
}
</style>