<template>
    <div id ="header">
      <div id="logo">
        <img src="@/img/bird.png" width="105">
       
      </div>
      <div id="title">
        <h1>什麼鳥娛樂工作室</h1>
        <p>What the Bird studio</p>
      </div>
       <Nav style="position:absolute;left:600px;bottom:0px;" v-if="screenWidth>1150"></Nav>
       <ul id="toolBar">
         <li @click="toolActive"><router-link to ="/Mail" v-if="screenWidth>1230"><img src="@/img/mail.png" width="35" class="tool" :class="mailStyle"></router-link></li>
         <li @click="toolActive"><router-link to ="/Cart" v-if="screenWidth>1230"><img src="@/img/cart.png" width="35" class="tool" :class="cartStyle"></router-link></li>
         <li v-if="screenWidth<1230" style="margin-bottom:2px"><Burger></Burger></li>
       </ul>
      
    </div>
</template>
<script>

import Nav from "@/components/HeaderItem/Nav.vue"
import { mapState } from 'vuex';
import Burger from '@/components/Burger.vue'
export default {
  mounted(){
    this.toolActive();
  },
    data(){
      return{
        mailStyle:'',
        cartStyle:''
      }
    }, 
    computed: {
        ...mapState(["screenWidth"])
    },
   methods:{
     toolActive:function(){
       if(this.$route.path=="/Mail"){
         this.mailStyle='toolActive';
         this.cartStyle='';
       }else if(this.$route.path=="/Cart"){
         this.mailStyle='';
         this.cartStyle='toolActive';
       }else{
         this.cartStyle='';
         this.mailStyle='';
       }
     }
   },
   watch:{
     $route(to,from){
       
       if(to.name!="Mail"&&to.name!="Cart"){
         this.cartStyle='';
         this.mailStyle='';
       }
     }
   },
    components:{
        Nav,
        Burger
    }
}
</script>


<style lang="scss" scoped>

 @import url("../assets/reset.css");
 @font-face {
  font-family: whacom;
  src:url("../assets/DFPOP1-W5-WIN-BF-01.ttf"),
  
}
  @keyframes carousel {
    0%{
      left:0px;
    }
    100%{
      left:-5400px;
    }
  }

  ul{
      list-style-type:none
    }
   
 
 
    #header{
      
      width:100%;
      box-sizing:border-box;
      box-shadow: gray  0 0 10px 0;
      height: 90px;
      z-index:1;
      position:relative;
      padding:5px;
      background: white;
    }

    #title{
      height:100%;
      width:500px;
      text-align: right;
      font-family: whacom;
      h1{
        font-family: whacom  !important;
      }
    }
    #logo{
      float:left;
      position:absolute;
      left:70px;
      top:-1px
    }
   .tool{
      box-sizing: initial;
      padding:8px;
      border:1px white solid;
      height:33px;
      margin-right:35px;
      cursor: pointer;
      border-radius: 5px;
   }
   .tool:hover{
   border:1px #e9ecef solid;
   }
   #toolBar{
     display:flex;
     position:absolute;
     right:50px;
     bottom:-10px;
   }
   .toolActive{
      border:1px lightgray solid;
   }
</style>