<template>
    <div id="container_loading">
        <div style="display:flex" id="loadingCom">
            <div id="text" style="line-height:185px">
                <span class="LW">L </span>
                <span class="LW">O </span>
                <span class="LW">A </span>
                <span class="LW">D </span>
                <span class="LW">I </span>
                <span class="LW">N </span>
                <span class="LW">G </span>
            </div>
          
            <div id="listBorder">
                <ul id="sketchAni">
                    <li><img src="@/img/walkno/走1.png"></li>
                    <li><img src="@/img/walkno/走2.png"></li>
                    <li><img src="@/img/walkno/走3.png"></li>
                    <li><img src="@/img/walkno/走4.png"></li>
                    <li><img src="@/img/walkno/走5.png"></li>
                    <li><img src="@/img/walkno/走6.png"></li>
                    <li><img src="@/img/walkno/走7.png"></li>
                    <!-- <li><img src="@/img/walkno/走8.png"></li> -->
                </ul>
            </div>
        </div>
    </div>
</template>
<style scoped>
/* @import url("../assets/reset.css"); */
 /* @import url("../assets/reset.css");
 @font-face {
  font-family: whacom;
  src:url("../assets/DFPOP1-W5-WIN-BF-01.ttf"),
  
} */
#sketchAni{
    display:flex;
    animation: walkingLoad  infinite 1s steps(7,end);
    
}
#listBorder{
    width:120px;
    height:185px;
    overflow: hidden;
    
}
#container_loading{
   
    height:706px;
}
#loadingCom{
     position:absolute;
     left:50%;
     top:300px;
     transform: translateX(-50%);
}
.LW{
    position:relative;
    font-family: whacom;
    font-size:30px;
}
.LW:nth-child(1){
    animation: hopping 1s linear infinite ;
}
.LW:nth-child(2){
    animation: hopping 1s linear infinite ;
    animation-delay: 0.1s;
}
.LW:nth-child(3){
    animation: hopping 1s linear infinite ;
    animation-delay: 0.2s;
}
.LW:nth-child(4){
    animation: hopping 1s linear infinite ;
    animation-delay: 0.3s;
}
.LW:nth-child(5){
    animation: hopping 1s linear infinite ;
    animation-delay: 0.4s;
}
.LW:nth-child(6){
    animation: hopping 1s linear infinite ;
    animation-delay: 0.5s;
}
.LW:nth-child(7){
    animation: hopping 2s linear infinite ;
    animation-delay: 1.2s;
}
@keyframes walkingLoad {
    0%{
        transform:translateX(0px);
    }
    100%{
        transform:translateX(-840px);
    }

}
@keyframes hopping {
    0%{
        top: 0px;
    }
    50%{
         top: -20px;
    }
    100%{ top: 0px;}
}
</style>
    
